* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Section1 NC*/

#navigation {}


/*Section2 NC*/

#welcome {}


/*Section3 DJ*/

#services {}


/*Section4 NC*/

#about {
    display: block;
    text-align: center;
    width: 100%;
    border: none;
    margin: 50px;
    bottom: 40px;
    left: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

#H1 {
    font-size: large;
    text-decoration: underline;
    text-decoration: #115511;
}

#H2 {
    text-align: center;
}

#img {
    width: 80%;
    float: left;
    width: 40%;
    padding: 5px;
    content: "";
    clear: both;
    display: table;
}


/*Section5 DJ*/

#feed_back {}


/*Section6 NC*/

#contact_us {}
.cont-2{
    background-color: rgb(26, 32, 39);
    color: rgba(248, 245, 245, 0.753);
    font-size: 90%;
}
#copy{
    position: relative; 
    align-items: center;
    padding-left: 450px;
    padding-top: 40px;
    padding-bottom: 30px;
    justify-items: center;

}
.cont-1{
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(15, 22, 31);
    color: rgba(248, 245, 245, 0.753);
    font-size: 90%;  
}
#call{
    padding-left: 110px;
    padding-right: 110px;
}
.cont-3{
    padding-bottom: 60px;
    padding-top: 60px;
}
#gocl{
    position: relative;
    display: inline-block;
    padding: 10px;
    color: rgb(10, 8, 8);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    
  }
  #gocl:hover{
    color: #845b25;
    background: rgb(0, 255, 149);
    box-shadow: 0 0 10px  rgb(0, 255, 128), 0 0 40px  rgb(0, 255, 128), 0 0 80px  rgb(0, 255, 128);
  }
  .social{
     position: relative; 
     align-items: center;
     padding-left: 460px;
     justify-items: center;
     
     }
     .social:hover{
        filter: invert(1) sepia(0) saturate(0) hue-rotate(175deg);
     }
  .cont-service a{
    color: rgb(3, 189, 102);
    text-decoration: none;
    font-size: 120%;
  }
  .cont-service a:hover {
    color:  rgb(161, 240, 236);
  }
  
 .cont-service a:active {
    color: turquoise;
  }
  
  .cont-service a:visited {
    background-color: #ccc;
  }