* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Section1 NC*/

#navigation {}


/*Section2 NC*/

#welcome {}


/*Section3 DJ*/

#services {}


/*Section4 NC*/

#about {
    display: block;
    text-align: center;
    width: 100%;
    border: none;
    margin: 50px;
    bottom: 40px;
    left: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

#H1 {
    font-size: large;
    text-decoration: underline;
    text-decoration: #115511;
}

#H2 {
    text-align: center;
}

#img {
    width: 80%;
    float: left;
    width: 40%;
    padding: 5px;
    content: "";
    clear: both;
    display: table;
}


/*Section5 DJ*/

#feed_back {}

#feedback button {
    height: 45px;
    width: 600px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    margin-left: 25%;
    margin-top: 5px;
}

#feedback button:hover {
    background: #115511;
}


/*Section6 NC*/

#contact_us {}