* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Section1 NC*/

#navigation {}


/*Section2 NC*/

#welcome {}


/*Section3 DJ*/

#services {}


/*Section4 NC*/

#about {}


/*Section5 DJ*/

#feed_back {}

#feedback button {
    height: 45px;
    width: 600px;
    font-size: 20px;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    margin-left: 25%;
    margin-top: 5px;
}

#feedback button:hover {
    background: #115511;
}


/*Section6 NC*/

#contact_us {}